* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

header {

    color: #000;
    padding: 20px;
}

nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 20px;


}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

.nav-links li a:hover {
    background-color: #caf0f8;
    border-radius: 4px;
}

.nav-links img {
    width: 50%;

}

.btn {
    display: flex;
    gap: 10px;
    margin-left: 43%;
}

.btn-2 {

    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
    /* text-align: center; */
}

.btn-2 #login {

    background: none;
    font-size: large;
    margin: 10px;
    /* border: 5px  solid; */
    /* padding: 0; */

    /* border: 2px solid; */


}


.btn-2 #register {

    /* background: none; */
    border-radius: 12px;
    border: 2px solid;
    font-size: large;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}



.register-btn {


    border: 1px solid black;
    border-radius: 12px;
}

.sidenav {
    display: none;
    /* Initially hidden */
    flex-direction: column !important;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #ffffffea;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    /* Optional for styling */
    border: 2px solid black;
    gap: 20px;
}


.sidenav li {
    list-style: none;


    /* margin: 10%; */
    /* margin-bottom: 20px; */
    /* padding: 20px; */
}

.sidenav li a {

    text-decoration: none;
    color: #000;
    /* margin: 20px; */
    /* margin-bottom: 20px; */
}

.sidenav li:hover {

    background-color: #a59d9db7;
}

#hamp {

    display: none;
    cursor: pointer;
}


#close {

    margin-left: 80%;
    cursor: pointer;
    margin-top: 20px;
}

.nav-links-2 li {

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.btn-2 {

    display: flex;
    flex-direction: column;
}

main {

    display: flex;

    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    /* position: fixed; */


}




.back-image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    transition: all 1s ease;
}


.back-image img {


    width: 100%;
    height: 80vh;




}

.content {

    max-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-right: 40%;
}

.content p {
    font-size: 1.2rem;
    color: #666;
    line-height: 2;
    margin-right: 22%;
}


.learn-btn {
    border-radius: 12px;
    background-color: #000;
    color: #fff;
    padding: 10px 40px;
    text-decoration: none;
    width: fit-content;
    margin: 10px 0px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.sponsors {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.sponsors img {

    margin-left: 10px;
    max-width: 100px;
    height: 25px;


}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content a {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.Mob-Image  {
    display: none;
}


@media (max-width: 1024px) {
    nav {
        justify-content: space-between;
    }

    .nav-links {
        display: none;
    }

    .btn {
        display: none;
    }

    #hamp {
        display: flex;
        flex-direction: column;
    }

    main {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .content {
        max-width: 100%;
        margin-bottom: 20px;
        display: flex;
        align-items: center;

    }

}

@media (max-width: 770px) {
    .nav-links {
        display: none;
    }

    nav {
        justify-content: space-between;
    }

    .btn {
        display: none;
    }

    #hamp {
        display: flex;
    }

    main {
        flex-direction: column;
        justify-content: center;
    }

    .content h1 {

        margin-right: 0;
    }

    .content p {

        margin-right: 0;
    }

    .learn-btn {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .sponsors {
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .sponsors img {
        max-width: 80px;
        height: 20px;
    }

    .back-image img {
        width: 100%;
        height: 40vh;
    }


    .Mob-Image {

        display: flex;
        justify-content: center;
        align-items: center;


    }

    .Mob-Image img {



        width: 100%;
        height: 100%;

    }







    .back-image img {
        display: none;
    }
}